:root{
    --main-border: #262626;
    --main-btn: #e50000;
    --main-text: #999999;
    --main-bg: #1A1A1A;
    --full-white: #fff;
    --controls: #0F0F0F;
    --main-black: #141414;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    line-height: 150%;
    font-size: 38px;
    position: relative;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

body{
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: var(--full-white);
}


/*Header*/
.page-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.header-title{
    font-weight: bold;
    color: var(--full-white);
    text-align: center;
}

.search-form{
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--full-white);
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.search-form .search-label{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: var(--full-white);
    margin: 15px 0;
}

.search-form .search-input{
    position: relative;
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px 0;
    text-indent: 5px;
    outline: none;
}

.search-form .search-button{
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.search-results{
    text-align: center;
    color: var(--full-white);
}

.search-results__container{
    border: 3px solid var(--full-white);
    border-radius: 15px;
    padding: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    width: 100%;
    box-sizing: border-box;
}

.logo-icon{
    width: 60px;
    height: 60px;
}

.nav-menu{
    display: flex;
    padding: 10px 40px 10px 10px;
    gap: 30px;
    background-color: var(--controls);
    border: 4px solid #1F1F1F;
    border-radius: 12px;
    align-items: center;
}


.nav-menu li .nav-link{
    position: relative;
    text-align: left;
    line-height: 150%;
}
.nav-menu li .nav-link--active{
    display: flex;
    justify-content: start;
    padding: 14px 24px;
    background-color: var(--main-bg);
}

.nav-menu li .nav-link{
    color: #BFBFBF;
}



.nav-actions{
    display: flex;
    gap: 30px;
}

.nav-actions .action-icon{
    width: 34px;
    height: 34px;
}


/*main*/

.featured-movie{
    margin: 0 162px;
    position: relative;
    border-radius: 12px;
    height: 835px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 50px 20px;
    box-sizing: border-box;
    gap: 50px;
    background-image: linear-gradient(to bottom, rgba(20, 20, 25, 0.3), #141414),
    url('../images/kantara-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 38px;
    color: var(--full-white);
}

.featured-movie__container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
}

.featured-movie__content{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.featured-movie__title{
    font-size: 38px;
    line-height: 150%;
}

.featured-movie__description{
    font-size: 18px;
    line-height: 150%;
    color: var(--main-text);
}

.featured-movie__actions{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.play-button{
    border-radius: 8px;
    background-color: var(--main-btn);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 24px;
    font-size: 18px;
    gap: 4px;
    height: fit-content;
    color: var(--full-white);
}

.action-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.action-icon{
    position: relative;
    background-color: var(--controls);
    padding: 14px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
}

/*Main*/
.main-connector{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.movie-details{
    display: flex;
    padding: 50px 160px;
    align-items: flex-start;
    gap: 20px;
}

.details-main{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    flex: 1 0 0;
}

.description-block{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.section-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

.description-text{
    color: var(--full-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.cast-section{
    width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.section-header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.section-subtitle{
    color: var(--main-text);
    font-family: Archivo, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.slider-controls{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.cast-grid{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.reviews-section{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.section-header-reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    align-self: stretch;
}

.review-button{
    display: flex;
    padding: 14px 16px;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
}

.review-button span{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 153%;
    color: var(--full-white);
}

.reviews-grid{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.review-card{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.review-header{
    display: flex;
    align-items: center;
    gap: 41px;
    justify-content: space-between;
    align-self: stretch;
}

.review-rating{
    display: flex;
    gap: 5px;
    align-items: center;
}

.stars{
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;
}

.reviewer-location{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

.slider-controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-dots{
    display: flex;
    width: 81px;
    align-items: flex-start;
    gap: 3px;
}

.dot{
    flex: 1;
    height: 4px;
    border-radius: 100px;
    background: #333;
}

.dot--active {
    flex: 1.5;
    border-radius: 100px;
    background: var(--main-btn);

}

.details-sidebar{
    display: flex;
    width: 519px;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.info-header{
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: stretch;
}

.info-title{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

.info-value{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--full-white);
}

.tags-container{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.language-tag{
    display: flex;
    padding: 8px 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
}

.ratings-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.rating-item{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
}

.rating-source{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--full-white);
}

.rating-value-container{
    display: flex;
    align-items: center;
    gap: 5px;
}

.stars{
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.rating-value{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--full-white);
}

.genre-tag{
    display: flex;
    padding: 8px 14px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background:  #141414;
}

.person-card{
    display: flex;
    padding: 14px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: var(--main-black);
}

.person-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
}

.person-name{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--full-white);
}

.person-location{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

/*Trial*/


.trial-section {
    position: relative;
    overflow: hidden;
    width: 1596px;
    display: flex;
    margin: 135px auto;
    padding: 100px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.trial-background{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 40px;
}

.image-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fade-overlay--left{
    width: 1646px;
    height: 344px;
    position: absolute;
    bottom: 25px;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%);
}

.trial-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    z-index: 1;
}

.trial-button{
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--full-white);
    border-radius: 8px;
    z-index: 1;
    background: var(--main-btn);
}

/*Footer*/

.page-footer{
    display: flex;
    padding: 100px 162px 50px 162px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.footer-links li a{
    width: 100%;
    color: var(--full-white);
}

.footer-heading{
    width: 100%;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: var(--main-text);
    text-align: left;
}

.footer-bottom{
    width: 100%;
    display: flex;

}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
}

.footer-info a{
    color: var(--main-text);
}

.legal-links{
    display: flex;
    gap: 40px;
}