:root{
    --main-border: #262626;
    --main-btn: #e50000;
    --main-text: #999999;
    --main-bg: #1A1A1A;
    --full-white: #fff;
    --controls: #0F0F0F
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    line-height: 150%;
    font-size: 38px;
    position: relative;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

body{
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: var(--full-white);
}

.mobile-header{
    display: none;
}


/*Header*/
.page-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.header-title{
    font-weight: bold;
    color: var(--full-white);
    text-align: center;
}

.search-form{
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--full-white);
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.search-form .search-label{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: var(--full-white);
    margin: 15px 0;
}

.search-form .search-input{
    position: relative;
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px 0;
    text-indent: 5px;
    outline: none;
}

.search-form .search-button{
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.search-results{
    text-align: center;
    color: var(--full-white);
}

.search-results__container{
    border: 3px solid var(--full-white);
    border-radius: 15px;
    padding: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    width: 100%;
    box-sizing: border-box;
}

.logo-icon{
    width: 60px;
    height: 60px;
}

.nav-menu{
    display: flex;
    padding: 10px 40px 10px 10px;
    gap: 30px;
    background-color: var(--controls);
    border: 4px solid #1f1f1f;
    border-radius: 12px;
    align-items: center;
}


.nav-menu li .nav-link{
    position: relative;
    color: #BFBFBF;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.nav-menu li .nav-link--active{
    display: flex;
    justify-content: start;
    padding: 14px 24px;
    background-color: var(--main-bg);
    color: var(--full-white);
    border-radius: 8px;
    border: 1px solid var(--main-bg);
    font-weight: 500;
    gap: 10px;
}

.nav-actions{
    display: flex;
    gap: 30px;
}

.burger-menu{
    display: none;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 3px solid var(--main-border);
    background: #1A1A1A;
}

.burger-menu .action-icon{
    width: 24px;
    height: 24px;
}

.nav-actions .action-icon{
    width: 34px;
    height: 34px;
}

/*Main*/

main{
}

/*Featured*/
.featured-movie{
    margin: 0 60px;
    position: relative;
    border-radius: 12px;
    height: 835px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 50px 20px;
    box-sizing: border-box;
    gap: 50px;
    background-image: linear-gradient(to bottom, rgba(20, 20, 25, 0.3), #141414),
    url('../public/images/avengers-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 38px;
    color: var(--full-white);
}

.featured-movie__container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
}

.featured-movie__content{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.featured-movie__title{
    font-size: 38px;
    line-height: 150%;
}

.featured-movie__description{
    font-size: 18px;
    line-height: 150%;
    color: var(--main-text);
}

.featured-movie__actions{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.play-button{
    border-radius: 8px;
    background-color: var(--main-btn);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 24px;
    font-size: 18px;
    gap: 4px;
    height: fit-content;
    color: var(--full-white);
}

.action-buttons{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.action-icon{
    position: relative;
    background-color: var(--controls);
    padding: 14px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
}

.featured-movie .slider-controls{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 16px;
    justify-content: space-between;
}

.slider-dots{
    display: flex;
    gap: 3px;
    flex-direction: row;
    width: 81px;
    align-items: flex-start;
    justify-content: start;
}

.slider-dot{
    flex: 1;
    position: relative;
    border-radius: 100px;
    background-color: #333;
    height: 4px;
}

.slider-dot--active{
    flex: 0 0 23px;
    background-color: #e50000;
}

.slider-arrow{
    padding: 14px;
    position: relative;
    background-color: var(--controls);
    display: flex;
    border-radius: 8px;
}

.arrow-icon{
    width: 30px;
    height: 30px;
}

.movies-section{
    position: relative;
    margin: 150px 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--main-border);
    border-radius: 12px;
}

.section-header{
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.section-title-container{
    position: relative;
    bottom: 40px;
    display: flex;
    padding: 10px 24px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--main-btn);
}

.movies-content{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.movies-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.section-controls{
    position: relative;
    justify-content: space-between;
    display: flex;
    gap: 100px;
    align-items: center;
    align-self: stretch;
}

.slider-controls-cards{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid #1F1F1F;
    background: var(--controls);
}

.section-subheader{
    color: var(--full-white);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.genre-cards{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.genre-card{
    overflow: hidden;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.genre-preview{
    position: relative;
    display: flex;
    height: 252px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.preview-row{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.preview-row img{
    flex: 1 0 0;
    align-self: stretch;
}

.genre-footer{
    display: flex;
    align-items: center;
    align-self: stretch;
    z-index: 1;
}

.preview-overlay{
    width: 245px;
    height: 252px;
    top: 20px;
    position: absolute;
    z-index: 0;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, var(--main-bg) 101.79%);
}

.genre-name{
    flex: 1 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--full-white);
}

.top-genres{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.top-genre-card{
    display: flex;
    height: 400px;
    padding: 50px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.genre-preview{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.genre-preview .preview-row{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.genre-preview .preview-row img{
    align-self: stretch;
}

.top-genre-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.top-genre-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    z-index: 100;
}

.top-genre-prefix{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--main-btn);
}

.top-genre-card .preview-overlay{
    width: 292px;
    height: 252px;
}

.trending-movies{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.movie-card{
    position: relative;
    display: flex;
    height: 377px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.movie-card img{
    border-radius: 12px;
}

.movie-meta{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.meta-item{
    position: relative;
    display: flex;
    padding: 6px 10px 6px 6px;
    align-items: center;
    gap: 2px;
    border-radius: 51px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.new-releases{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.release-card{
    display: flex;
    height: 377px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.release-date{
    display: flex;
    padding: 6px 10px 6px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 51px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.must-watch-movies{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.must-watch-card{
    width: 100%;
    display: flex;
    height: 500px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.must-watch-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.meta-item{
    display: flex;
    padding: 6px 10px 6px 6px;
    align-items: center;
    gap: 2px;
    border-radius: 51px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.rating-container{
    display: flex;
    padding: 6px 10px;
    align-items: center;
    gap: 4px;
    border-radius: 51px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.rating-stars{
    display: flex;
    align-items: flex-start;
    gap: 2px;
}


/*Shows*/

.tv-shows-section{
    margin: 150px 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--main-border);
    border-radius: 12px;
}

.trending-shows{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.show-card{
    width: 100%;
    display: flex;
    height: 444px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.show-meta{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

/*Trial*/

.trial-section {
    position: relative;
    overflow: hidden;
    width: 1596px;
    display: flex;
    margin: 135px auto;
    padding: 100px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.trial-background{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 40px;
}

.image-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fade-overlay--left{
    width: 1646px;
    height: 344px;
    position: absolute;
    bottom: 25px;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%);
}

.trial-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    z-index: 1;
}

.trial-button{
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--full-white);
    border-radius: 8px;
    z-index: 1;
    background: var(--main-btn);
}

/*Footer*/

.page-footer{
    background: var(--controls);
    display: flex;
    padding: 100px 162px 50px 162px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.footer-links li a{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

.footer-heading{
    width: 100%;
    position: relative;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    color: var(--full-white);
    text-align: left;
}

.social-links{
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.social-link{
    display: flex;
    padding: 16px;
    gap: 10px;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #1A1A1A;
}

.footer-bottom{
    width: 100%;
    display: flex;

}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
}

.footer-info a{
    color: var(--main-text);
}

.legal-links{
    display: flex;
    gap: 20px;
}

.divider-footer{
    width: 1px;
    height: 21px;
    background: var(--main-border);
}

.legal-link{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

/*Laptop adapt*/
@media screen and (max-width: 1440px) and (min-width: 390px){
    h3{
        font-size: 30px;
        font-weight: 700;
        line-height: 150%;
    }
    .featured-movie{
        padding: 40px 40px 16px 40px;
        margin: 100px 60px;
    }

    .featured-movie__container{
        gap: 24px;
    }

    .featured-movie__content{
        padding: 0 120px;
        gap: 2px;
    }

    .featured-movie__title{
        font-size: 30px;
        font-weight: 700;
        line-height: 150%;
    }

    .featured-movie__description{
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        color: var(--main-text);
    }

    .play-button{
        padding: 14px 20px;
    }

    .play-button span{
        font-size: 14px;
    }

    .play-button img{
        width: 24px;
        height: 24px;
    }

    .arrow-icon{
        width: 28px;
        height: 28px;
    }

    /*Movies*/

    .movies-section{
    }

    .section-header{
        padding: 0 40px;
        gap: 10px;
    }


    .section-title-container{
        padding: 8px 20px;
        gap: 10px;
        border-radius: 6px;
    }

    .movies-content{
        position: relative;
        width: 100%;
        padding: 40px;
        gap: 80px;
    }

    .movies-column{
        position: relative;
        gap: 40px;
    }

    .section-subheader{
        font-size: 30px;
    }

    .slider-controls-cards{
        padding: 12px;
        gap: 12px;
    }

    .slider-arrow{
        padding: 10px;
        gap: 10px;
    }

    .arrow-icon{
        width: 24px;
        height: 24px;
    }

    .slider-dots{
        width: 69px;
    }

    .genre-cards{
        gap: 20px;
    }

    .genre-card{
        border-radius: 10px;
        padding: 24px;
        flex: 1 0 0;
    }

    .genre-preview{
        position: relative;
        height: 187px;
        gap: 5px;
    }

    .preview-row{
        gap: 5px;
    }

    .top-genre-card .preview-overlay{
        width: 250px;
        height: 210px;
        top: -10px;
        left: 0;
        right: 10px;
    }

    .preview-image{
        width: 86px;
        height: 91px;
    }

    .top-genres{
        gap: 20px;
    }

    .top-genre-card{
        width: 100%;
        height: 317px;
        padding: 30px;
    }

    .top-genre-footer{
        z-index: 100;
    }


    .trending-movies{
        gap: 20px;
    }

    .movie-card{
        height: 308px;
        padding: 16px;
    }

    .movie-poster{
        width: 192px;
        height: 232px;
    }

    .meta-item{
        padding: 4px 8px 4px 4px;
        gap: 2px;
    }

    .meta-icon{
        width: 20px;
        height: 20px;
    }

    .meta-text{
        font-size: 12px;
    }

    .release-card{
        height: 308px;
        gap: 16px;
        flex: 1 0 0;
    }

    .release-poster{
        width: 192px;
        height: 230px;
    }

    .must-watch-movies{
        gap: 20px;
    }

    .must-watch-card{
        height: 404px;
        padding: 16px;
        gap: 16px;
    }

    .must-watch-poster{
        width: 253px;
        height: 324px;
    }

    .rating-container{
        padding: 6px 10px;
        gap: 4px;
    }


    .rating-stars{
        gap: 1px;
    }

    .star-icon{
        width: 14px;
        height: 14px;
    }

    .rating-count{
        font-size: 12px;

    }

    .trending-shows{
        gap: 20px;
    }

    .show-card{
        height: 404px;
        gap: 16px;
    }

    .show-poster{
        width: 253px;
        height: 328px;
    }

    /*Trial*/
    .trial-section{
        padding: 80px 60px;
        margin: 120px 80px;
        width: 1280px;
    }

    .trial-background{
        height: 355px;

    }

    .fade-overlay--left{
        height: 250px;
        top: 52px;
    }

    .trial-content{
        gap: 10px;
    }

    .trial-heading{
        font-size: 28px;
    }

    .trial-button{
        padding: 14px 20px;
        gap: 10px;
    }


    /*Footer*/
    /*Footer*/

    .page-footer{
        padding: 80px 80px 40px 80px;
        gap: 80px;
    }

    .footer-section{
        gap: 20px;
    }

    .footer-heading{
        font-size: 18px;
    }

    .social-links{
        gap: 10px;
    }

    .social-link{
        padding: 12px;
        gap: 10px;
        border-radius: 6px;
    }

    .social-link img{
        width: 20px;
        height: 20px;
    }

    .legal-links{
        gap: 20px;
    }

    .legal-link{
        font-size: 14px;
    }

}

@media screen and (max-width: 390px) {
    h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: var(--main-text);
    }

    .main-nav{
        padding: 40px 16px 14px 16px;
    }

    .nav-logo{
        width: 116px;
        gap: 2px;
    }

    .nav-menu{
        display: none;
    }
    .nav-actions{
        display: none;
    }
    .burger-menu{
        display: flex;
    }

    /*Featured*/

    .featured-movie{
        height: 468px;
        padding: 24px 24px 16px 24px;
        gap: 20px;
        margin: 100px 16px;
    }

    .featured-movie__content{
        padding: 0;
    }

    .featured-movie__description{
        display: none;
    }

    .featured-movie .slider-controls{
        display: none;
    }

    .featured-movie__title{
        font-size: 24px;
    }

    .featured-movie__actions{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .slider-controls-cards{
        display: none;
    }

    .play-button{
        width: 100%;
        justify-content: center;
    }

    .action-icon{
        padding: 12px;
    }

    .section-header{
        display: none;
    }

    /*Movies&Shows*/
    .movies-section{
        border: 0;
        padding: 0;
        gap: 20px;
        margin: 0;
    }


    .mobile-header{
        width: 95%;
        margin: 80px 10px 50px 10px;
        align-self: flex-end;
        display: flex;
        justify-content: flex-start;
        padding: 8px;
        align-items: center;
        border-radius: 10px;
        background-color: var(--controls);
        border: 1px solid var(--main-border);
    }

    .toggle-option{
        flex: 1 0 0;
        padding: 14px 24px;
        gap: 10px;
        position: relative;
        background: none;
        color: var(--main-text);
    }

    .toggle-option span{
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
    }

    .toggle-option--active{
        color: var(--full-white);
        padding: 12px 20px;
        gap: 10px;
        border-radius: 10px;
        background-color: #1f1f1f;
    }

    .indicator-phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .indicator-background{
        display: flex;
        width: 79px;
        height: 5px;
        padding-right: 59px;
        align-items: center;
        border-radius: 20px;
        background: #333;
    }

    .indicator-element{
        width: 20px;
        height: 5px;
        flex-shrink: 0;
        border-radius: 20px;
        background: var(--main-btn);
    }

    .movies-content{
        overflow: hidden;
    }

    .genre-cards{
        align-self: flex-start;
        gap: 10px;
    }

    .genre-card{
        padding: 16px;
        border-radius: 10px;
    }

    .genre-preview{
        height: 140px;
        gap: 0;
    }

    .preview-image{
        width: 67px;
        height: 68px;
    }

    .genre-name{
        font-size: 14px;
    }

    .arrow-icon{
        width: 20px;
        height: 20px;
    }

    .tv-shows-section{
        display: none;
    }

    .top-genre-card{
        padding: 20px;
        height: 250px;
    }

    .genre-preview{
        gap: 0;
    }

    .preview-row{
        gap: 0;
    }

    .top-genre-footer{
        margin: 20px 0 0 0;
        position: relative;
        gap: 20px;
    }

    .top-genre-prefix{
        position: relative;
        padding: 8px;
        font-size: 12px;
    }

    .top-genre-name{
        font-size: 16px;
    }

    .top-genre-card .preview-image{
        position: relative;
        width: 90px;
        height: 83px;
    }

    .movie-card{
        height: 259px;
        padding: 12px;
        gap: 12px;
        border-radius: 10px;
    }

    .movie-poster{
        width: 158px;
        height: 195px;
    }

    .release-card{
        height: 259px;
        padding: 12px;
        gap: 12px;
        border-radius: 10px;
    }

    .release-poster{
        width: 154px;
        height: 193px;
    }

    .release-date{
        padding: 6px 14px;
        font-size: 10px;
    }

    .must-watch-card{
        height: 303px;
        padding: 12px;
        gap: 12px;
    }

    .must-watch-poster{
        width: 207px;
        height: 235px;
    }

    /*Trial*/

    .trial-section{
        overflow: hidden;
        padding: 50px 30px;
        margin: 56px 16px;
        width: 358px;
        gap: 50px;
        flex-direction: column;
    }

    .trial-background{
        top: 0;
        height: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    .image-container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .fade-overlay{
        display: none;
        /*Доробити тінь*/
    }

    /*Footer*/
    .page-footer{
        padding: 50px 16px 20px 16px;
        gap: 50px;
    }

    .footer-content{
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-section{
        text-align: left;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .footer-phone{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer-bottom{
        flex-direction: column;
    }

    .footer-info{
        flex-direction: column;
        gap: 30px;
    }
}
