* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    line-height: 150%;
    font-size: 38px;
    position: relative;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #999999;
}

body{
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: #fff;
}


/*Header*/
.page-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.header-title{
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.search-form{
    width: fit-content;
    height: fit-content;
    border: 3px solid #fff;
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.search-form .search-label{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin: 15px 0;
}

.search-form .search-input{
    position: relative;
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px 0;
    text-indent: 5px;
    outline: none;
}

.search-form .search-button{
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.search-results{
    text-align: center;
    color: #fff;
}

.search-results__container{
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    width: 100%;
    box-sizing: border-box;
}

.logo-icon{
    width: 60px;
    height: 60px;
}

.nav-menu{
    display: flex;
    padding: 10px 40px 10px 10px;
    gap: 30px;
    background-color: #0F0F0F;
    border: 4px solid #1F1F1F;
    border-radius: 12px;
    align-items: center;
}


.nav-menu li .nav-link{
    position: relative;
    text-align: left;
    line-height: 150%;
}
.nav-menu li .nav-link--active{
    display: flex;
    justify-content: start;
    padding: 14px 24px;
    background-color: #1A1A1A;
}

.nav-menu li .nav-link{
    color: #BFBFBF;
}



.nav-actions{
    display: flex;
    gap: 30px;
}

.nav-actions .action-icon{
    width: 34px;
    height: 34px;
}

/*Main*/

main{
    padding: 0 160px;
}

/*Featured*/
.featured-movie{
    width: 100%;
    position: relative;
    border-radius: 12px;
    height: 835px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 50px 50px 20px;
    box-sizing: border-box;
    gap: 50px;
    background-image: linear-gradient(to bottom, rgba(20, 20, 25, 0.3), #141414),
    url('../images/avengers-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    font-size: 38px;
    color: #fff;
}

.featured-movie__container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
}

.featured-movie__content{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.featured-movie__title{
    font-size: 38px;
    line-height: 150%;
}

.featured-movie__description{
    font-size: 18px;
    line-height: 150%;
    color: #999999;
}

.featured-movie__actions{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.play-button{
    border-radius: 8px;
    background-color: #e50000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 24px;
    font-size: 18px;
    gap: 4px;
    height: fit-content;
    color: #fff;
}

.action-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}

.action-icon{
    position: relative;
    background-color: #0F0F0F;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #262626;
}

.featured-movie .slider-controls{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    padding: 16px;
    justify-content: space-between;
}

.slider-dots{
    display: flex;
    gap: 3px;
    flex-direction: row;
    width: 81px;
    align-items: flex-start;
    justify-content: start;
}

.slider-dot{
    flex: 1;
    position: relative;
    border-radius: 100px;
    background-color: #333;
    height: 4px;
}

.slider-dot--active{
    flex: 0 0 23px;
    background-color: #e50000;
}

.slider-arrow{
    padding: 14px;
    position: relative;
    background-color: #0F0F0F;
    display: flex;
    border-radius: 8px;
}

.arrow-icon{
    width: 30px;
    height: 30px;
}

/*.movies-section{*/
/*    margin: 180px 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    border-radius: 12px;*/
/*    border: 1px solid #262626;*/
/*}*/

/*.section-header{*/
/*    width: 100%;*/
/*    position: relative;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    padding: 0 50px;*/
/*    text-align: center;*/

/*}*/

/*.section-title-container{*/
/*    position: relative;*/
/*    bottom: 30px;*/
/*    border-radius: 8px;*/
/*    background-color: #e50000;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    padding: 10px 24px;*/
/*}*/

/*.section-title{*/
/*    font-size: 20px;*/
/*    line-height: 150%;*/
/*    font-weight: 600;*/
/*}*/

/*.movies-content{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    position: relative;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    padding: 50px;*/
/*    gap: 100px;*/
/*    width: 100%;*/
/*}*/

/*.movies-column{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 50px;*/
/*}*/

/*.section-controls{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.section-subtitle{*/
/*    font-size: 38px;*/
/*    font-weight: 700;*/
/*    line-height: 150%;*/
/*}*/

/*.slider-controls{*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*}*/


/*.genre-cards{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/
/*    gap: 30px;*/
/*}*/

/*.card{*/
/*    display: flex;*/
/*    height: 378px;*/
/*    padding: 30px;*/
/*    flex-direction: column;*/
/*    align-items: flex-end;*/
/*    flex: 1 0 0;*/
/*    border-radius: 12px;*/
/*    border: 1px solid #262626;*/
/*    background:  #1A1A1A;*/
/*}*/

/*.preview-image {*/
/*    flex: 1;*/
/*    width: 105px;*/
/*    position: relative;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*}*/

/*.genre-preview{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    justify-content: center;*/
/*    position: relative;*/
/*    gap: 5px;*/
/*}*/

/*.preview-row{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 5px;*/
/*    margin: 0;*/
/*}*/

/*.genre-footer{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    z-index: 3;*/
/*}*/

/*.preview-overlay{*/
/*    position: absolute;*/
/*    width: 237px;*/
/*    height: 252px;*/
/*    background: linear-gradient(to bottom, rgba(20, 20, 25, 0), #141414);*/
/*}*/

/*.top-genres{*/
/*    display: flex;*/
/*    align-items: flex-start;*/
/*    gap: 30px;*/
/*    align-self: stretch;*/
/*}*/

.movies-section{
    display: flex;
    width: 1598px;
    flex-direction: column;
    align-items: flex-start;
    gap: -30px;
}

.section-header{
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.movies-content{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.movies-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.section-controls{
    display: flex;
    align-items: center;
    gap: 100px;
    align-self: stretch;
}

.slider-controls{
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: 1px solid #1F1F1F;
    background: #0F0F0F;
}

.section-subheader{
    flex: 1 0 0;
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.genre-cards{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.card{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1A1A1A;
}

.genre-preview{
    position: relative;
    display: flex;
    height: 252px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}

.preview-row{
    display: flex;
    align-items: flex-start;
    gap: 5px;
    flex: 1 0 0;
    align-self: stretch;
}

.preview-row img{
    flex: 1 0 0;
    align-self: stretch;
}

.genre-footer{
    display: flex;
    align-items: center;
    align-self: stretch;
}

.preview-overlay{
    width: 237px;
    height: 252px;
    position: absolute;
    top: 5px;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.00) 0%, #1A1A1A 101.79%);
}

.genre-name{
    flex: 1 0 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #FFF;
}

.top-genres{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.top-genre-card{
    display: flex;
    height: 378px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 0;
    border-radius: 12px;
    border: 1px solid #262626;
    background: #1A1A1A;
}

.genre-preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.genre-preview .preview-row{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.genre-preview .preview-row img{
    flex: 1 0 0;
    align-self: stretch;
}

.top-genre-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.top-genre-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;
}

.top-genre-prefix{
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #E50000;
    leading-trim: both;
    text-edge: cap;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}