:root{
    --main-border: #262626;
    --main-btn: #e50000;
    --main-text: #999999;
    --main-bg: #1A1A1A;
    --full-white: #fff;
    --controls: #0F0F0F;
    --main-black: #141414;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    line-height: 150%;
    font-size: 38px;
    position: relative;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

label{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--full-white);
}


body{
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: var(--full-white);
}


/*Header*/
.page-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.header-title{
    font-weight: bold;
    color: var(--full-white);
    text-align: center;
}

.search-form{
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--full-white);
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.search-form .search-label{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: var(--full-white);
    margin: 15px 0;
}

.search-form .search-input{
    position: relative;
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px 0;
    text-indent: 5px;
    outline: none;
}

.search-form .search-button{
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.search-results{
    text-align: center;
    color: var(--full-white);
}

.search-results__container{
    border: 3px solid var(--full-white);
    border-radius: 15px;
    padding: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    width: 100%;
    box-sizing: border-box;
}

.logo-icon{
    width: 60px;
    height: 60px;
}

.nav-menu{
    display: flex;
    padding: 10px 40px 10px 10px;
    gap: 30px;
    background-color: var(--controls);
    border: 4px solid #1f1f1f;
    border-radius: 12px;
    align-items: center;
}


.nav-menu li .nav-link{
    position: relative;
    color: #BFBFBF;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.nav-menu li .nav-link--active{
    display: flex;
    justify-content: start;
    padding: 14px 24px;
    background-color: var(--main-bg);
    color: var(--full-white);
    border-radius: 8px;
    border: 1px solid var(--main-bg);
    font-weight: 500;
    gap: 10px;
}

.nav-actions{
    display: flex;
    gap: 30px;
}

.burger-menu{
    display: none;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 3px solid var(--main-border);
    background: #1A1A1A;
}

.burger-menu .action-icon{
    width: 24px;
    height: 24px;
}

.nav-actions .action-icon{
    width: 34px;
    height: 34px;
}

/*Pricing*/
.pricing-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: left;
    padding: 150px 160px 0 160px;
    width: 100%;
}

.toggle-switch{
    align-self: flex-end;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--controls);
    border: 1px solid var(--main-border);
}

.toggle-option{
    padding: 14px 24px;
    position: relative;
    background: none;
    color: var(--main-text);
}

.toggle-option--active{
    color: var(--full-white);
    border-radius: 10px;
    background-color: #1f1f1f;
}

.pricing-cards{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    width: 100%;
}

.plan-card{
    border-radius: 12px;
    background-color: var(--main-bg);
    border: 1px solid var(--main-border);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 50px;
    align-items: flex-start;
    justify-content: flex-start;
}

.plan-info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.plan-price{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
}

.price{
    font-size: 40px;
    line-height: 73%;
    font-weight: 600;
}

.billing-cycle{
    font-size: 18px;
    line-height: 73%;
    font-weight: 500;
    color: #999;
}

.plan-actions{
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.secondary-button{
    border-radius: 8px;
    padding: 18px 24px;
    background-color: #141414;
    border: 1px solid var(--main-border);
    color: var(--full-white);
}

.primary-button{
    border-radius: 8px;
    padding: 18px 24px;
    background-color: #E50000;
    color: var(--full-white);
}

/*Compare*/

.pricing-compare-section{
    display: flex;
    padding: 150px 160px 0 160px;
    flex-direction: column;
    align-items: flex-end;
    gap: 80px;
}

.pricing-header{
    display: flex;
    padding-right: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.pricing-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--full-white);
}

.pricing-description{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

.pricing-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid var(--main-border);
}

.pricing-row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border-bottom: 1px solid var(--main-border);
}

.plan-column{
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: 1px solid var(--main-border);
}

.plan-feature{
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: var(--main-text);
}

.pricing-header-row{
    background: var(--controls);
}

.pricing-header-row .plan-column .plan-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: var(--full-white);
}

.popular-badge{
    display: flex;
    padding: 6px 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 2px;
    background: var(--main-btn);
}

.badge-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--full-white);
    leading-trim: both;
    text-edge: cap;
}

/*Trial*/

.trial-section {
    position: relative;
    overflow: hidden;
    width: 1596px;
    display: flex;
    margin: 135px auto;
    padding: 100px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.trial-background{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 40px;
}

.image-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fade-overlay--left{
    width: 1646px;
    height: 344px;
    position: absolute;
    bottom: 25px;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%);
}

.trial-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    z-index: 1;
}

.trial-button{
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--full-white);
    border-radius: 8px;
    z-index: 1;
    background: var(--main-btn);
}

/*Footer*/

.page-footer{
    display: flex;
    padding: 100px 162px 50px 162px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.footer-links li a{
    width: 100%;
    color: var(--full-white);
}

.footer-heading{
    width: 100%;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: var(--main-text);
    text-align: left;
}

.footer-bottom{
    width: 100%;
    display: flex;

}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
}

.footer-info a{
    color: var(--main-text);
}

.legal-links{
    display: flex;
    gap: 40px;
}