:root{
    --main-border: #262626;
    --main-btn: #e50000;
    --main-text: #999999;
    --main-bg: #1A1A1A;
    --full-white: #fff;
    --controls: #0F0F0F;
    --main-black: #141414;
}

* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    line-height: 150%;
    font-size: 38px;
    position: relative;
    font-weight: 700;
}

p{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

label{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: var(--full-white);
}

input{
    background: var(--main-border);
}


body{
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    font-weight: normal;
    color: var(--full-white);
}


/*Header*/
.page-header{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
}

.header-title{
    font-weight: bold;
    color: var(--full-white);
    text-align: center;
}

.search-form{
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--full-white);
    border-radius: 15px;
    margin: 0 auto;
    padding: 15px;
}

.search-form .search-label{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: var(--full-white);
    margin: 15px 0;
}

.search-form .search-input{
    position: relative;
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
    margin: 10px 0;
    text-indent: 5px;
    outline: none;
}

.search-form .search-button{
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
}

.search-results{
    text-align: center;
    color: var(--full-white);
}

.search-results__container{
    border: 3px solid var(--full-white);
    border-radius: 15px;
    padding: 20px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    width: 100%;
    box-sizing: border-box;
}

.logo-icon{
    width: 60px;
    height: 60px;
}

.nav-menu{
    display: flex;
    padding: 10px 40px 10px 10px;
    gap: 30px;
    background-color: var(--controls);
    border: 4px solid #1f1f1f;
    border-radius: 12px;
    align-items: center;
}


.nav-menu li .nav-link{
    position: relative;
    color: #BFBFBF;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.nav-menu li .nav-link--active{
    display: flex;
    justify-content: start;
    padding: 14px 24px;
    background-color: var(--main-bg);
    color: var(--full-white);
    border-radius: 8px;
    border: 1px solid var(--main-bg);
    font-weight: 500;
    gap: 10px;
}

.nav-actions{
    display: flex;
    gap: 30px;
}

.burger-menu{
    display: none;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    border: 3px solid var(--main-border);
    background: #1A1A1A;
}

.burger-menu .action-icon{
    width: 24px;
    height: 24px;
}

.nav-actions .action-icon{
    width: 34px;
    height: 34px;
}

/*Main*/

.support-section{
    display: flex;
    padding: 50px 160px;
    align-items: flex-start;
    gap: 80px;
}

.support-container{
    display: flex;
    width: 533px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    flex-shrink: 0;
    align-self: stretch;
}

.support-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.support-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--full-white);
}

.support-description{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

.movie-gallery-container{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: 6px solid var(--main-border);
    background: var(--controls);
}

.movie-gallery{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.movie-row{
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.support-form{
    display: flex;
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-black);
}

.form-row{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.form-field{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 77px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

.form-container{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.choose-field{
    display: flex;
    padding: 0 12px;
    color: var(--full-white);
    align-items: center;
    gap: 6px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
}

.phone-number{
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 77px;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

.form-message-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.form-textarea{
    display: flex;
    height: 163px;
    padding: 20px;
    align-items: flex-start;
    gap: 77px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--main-border);
    background: #141414;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);

}

.form-footer{
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}

.form-checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: var(--main-text);
}

.form-btn{
    display: flex;
    padding: 18px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: var(--main-btn);
    color: var(--full-white);
}

/*FAQ*/
.faq-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    text-align: left;
    padding: 150px 160px 0 160px;
    width: 100%;
}

.section-intro{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 100px;
    text-align: left;
    font-size: 38px;
    color: var(--full-white);
}

.section-description{
    line-height: 150%;
    color: var(--main-text);
}

.ask-button{
    align-self: flex-end;
    border-radius: 8px;
    background-color: #e50000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 18px 24px;
    font-size: 18px;
    height: fit-content;
}
.ask-button span{
    color: var(--full-white);
    position: relative;
    line-height: 150%;
    font-weight: 600;
}

.faq-container{
    display: flex;
    gap: 80px;
    align-items: flex-start;
    justify-content: flex-start;
}

.faq-item{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 34px;
    box-sizing: border-box;
    gap: 24px;
    text-align: left;
    font-size: 20px;
}

.faq-question{
    width: 100%;
}

.faq-number{
    border-radius: 8px;
    background-color: #1F1F1F;
    border: 1px solid var(--main-border);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    font-size: 18px;
    height: fit-content;
}

.faq-item--open img{
    align-self: flex-start;
}

.divider{
    align-self: stretch;
    position: relative;
    background: linear-gradient(90deg, transparent, #e50000, transparent);
    box-sizing: border-box;
    height: 1px;
}

/*Trial*/

.trial-section {
    position: relative;
    overflow: hidden;
    width: 1596px;
    display: flex;
    margin: 135px auto;
    padding: 100px 80px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    border-radius: 12px;
    border: 1px solid var(--main-border);
    background: var(--main-bg);
}

.trial-background{
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    right: 40px;
}

.image-container{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.fade-overlay--left{
    width: 1646px;
    height: 344px;
    position: absolute;
    bottom: 25px;
    background: linear-gradient(90deg, #0F0F0F 2.42%, rgba(20, 15, 15, 0.97) 25.46%, rgba(34, 14, 14, 0.91) 46.72%, rgba(229, 0, 0, 0.00) 168.98%);
}

.trial-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    z-index: 1;
}

.trial-button{
    display: flex;
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--full-white);
    border-radius: 8px;
    z-index: 1;
    background: var(--main-btn);
}

/*Footer*/

.page-footer{
    display: flex;
    padding: 100px 162px 50px 162px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
}

.footer-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.footer-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.footer-links li a{
    width: 100%;
    color: var(--full-white);
}

.footer-heading{
    width: 100%;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: var(--main-text);
    text-align: left;
}

.footer-bottom{
    width: 100%;
    display: flex;

}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--main-text);
}

.footer-info a{
    color: var(--main-text);
}

.legal-links{
    display: flex;
    gap: 40px;
}

@media screen and (max-width: 1440px) and (min-width: 390px){

    label{
        font-size: 16px;
    }

    .support-section{
        gap: 50px;
        padding: 50px 80px;
    }

    .support-container{
        width: 429px;
        gap: 40px;
    }

    .support-header{
        gap: 10px;
    }

    .support-title{
        font-size: 38px;
    }

    .support-description{
        font-size: 16px;
    }


    .movie-gallery-container{
        width: 449px;
        height: 547px;
        border-radius: 4px;
    }

    .movie-gallery{
        width: 100%;
    }

    .movie-poster{
        width: 97px;
        height: 121px;
        object-fit: cover;
    }

    .support-form{
        width: 100%;
        height: 750px;
        position: relative;
        padding: 40px;
        gap: 40px;
        border-radius: 10px;
    }

    .form-row{
        gap: 20px;
    }

    .form-group{
        gap: 12px;
    }

    .form-field{
        gap: 77px;
        padding: 17px;
        border-radius: 6px;
        font-size: 14px;
    }

    .form-container{
        gap: 12px;
    }

    .choose-field{
        padding: 0 8px;
        gap: 4px;
        border-radius: 6px;
    }

    .phone-number{
        padding: 16px;
        gap: 77px;
        border-radius: 6px;
        font-size: 14px;
    }

    .form-message-group{
        gap: 12px;
    }

    .form-textarea{
        height: 129px;
        padding: 16px;
        gap: 77px;
        font-size: 14px;
    }

    .form-checkbox{
        gap: 8px;
    }

    .form-btn{
        padding: 14px 20px;
        gap: 10px;
        font-size: 14px;
    }

    /*FAQ*/

    .faq-section{
        padding: 120px 80px 0 80px;
        gap: 60px;
    }

    .ask-button{
        padding: 14px 20px;
        border-radius: 6px;
    }

    .ask-button span{
        font-size: 14px;
    }

    .faq-container{
        gap: 60px;
    }

    .faq-item{
        padding: 24px;
        gap: 16px;
    }

    .faq-number{
        padding: 16px;
        gap: 10px;
        border-radius: 8px;
    }

    .faq-number span{
        font-size: 16px;
    }

    .faq-content{
        gap: 14px;
    }

    .faq-question{
        font-size: 20px;
    }

    .faq-item--open p{
        font-size: 16px;
    }

    .faq-toggle{
        width: 24px;
        height: 24px;
    }

    /*Trial*/
    .trial-section{
        padding: 80px 60px;
        margin: 120px 80px;
        width: 1280px;
    }

    .trial-background{
        height: 355px;

    }

    .fade-overlay--left{
        height: 250px;
        top: 52px;
    }

    .trial-content{
        gap: 10px;
    }

    .trial-heading{
        font-size: 28px;
    }

    .trial-button{
        padding: 14px 20px;
        gap: 10px;
    }

    /*Footer*/

    .page-footer{
        padding: 80px 80px 40px 80px;
        gap: 80px;
    }

    .footer-section{
        gap: 20px;
    }

    .footer-heading{
        font-size: 18px;
    }

    .social-links{
        gap: 10px;
    }

    .social-link{
        padding: 12px;
        gap: 10px;
        border-radius: 6px;
    }

    .social-link img{
        width: 20px;
        height: 20px;
    }

    .legal-links{
        gap: 20px;
    }

    .legal-link{
        font-size: 14px;
    }

}

@media screen and (max-width: 390px){

    h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: var(--main-text);
    }

    label{
        font-size: 16px;
    }

    .main-nav{
        padding: 40px 16px 14px 16px;
    }

    .nav-logo{
        width: 116px;
        gap: 2px;
    }

    .nav-menu{
        display: none;
    }
    .nav-actions{
        display: none;
    }
    .burger-menu{
        display: flex;
    }

    .support-section{
        position: relative;
        gap: 50px;
        width: 357px;
        padding: 50px 15px;
        flex-direction: column;
    }

    .support-container{
        width: 100%;
    }

    .support-header{
        width: 100%;
        position: relative;
        gap: 10px;
    }

    .support-title{
        font-size: 28px;
    }

    .support-description{
        font-size: 14px;
    }

    .movie-gallery-container{
        width: 357px;
        height: 344px;
        gap: 0;
    }

    .support-form{
        margin-left: 5%;
        width: 100%;
        height: 100%;
    }

    .form-row{
        flex-direction: column;
    }

    .form-footer{
        flex-direction: column;
        gap: 10px;
    }

    .form-btn{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*FAQ*/

    .faq-section{
        padding: 56px 16px;
        gap: 50px;
    }

    .section-header{
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: stretch;
    }

    .ask-button{
        display: flex;
        align-self: flex-start;
        padding: 14px 20px;
        gap: 10px;
    }

    .section-subtitle{
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }

    .faq-container{
        flex-direction: column;
        gap: 20px;
    }

    .faq-item{
        padding: 40px 10px;
        gap: 12px;
    }

    .faq-answer{
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
    .extended-block{
        display: none;
    }

    .divider{
        width: 358px;
        height: 1px;
        background: linear-gradient(90deg, rgba(229, 0, 0, 0.00) 0%, #E50000 16.67%, rgba(229, 0, 0, 0.00) 100%);
    }

    .faq-number{
        padding: 12px;
        gap: 10px;
    }

    /*Trial*/

    .trial-section{
        overflow: hidden;
        padding: 50px 30px;
        margin: 56px 16px;
        width: 358px;
        gap: 50px;
        flex-direction: column;
    }

    .trial-background{
        overflow: hidden;
        display: flex;
        width: 1395px;
        height: 693px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .image-container{
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    /*Footer*/
    .page-footer{
        padding: 50px 16px 20px 16px;
        gap: 50px;
    }

    .footer-content{
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer-section{
        text-align: left;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .footer-phone{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer-bottom{
        flex-direction: column;
    }

    .footer-info{
        flex-direction: column;
        gap: 30px;
    }




}
