@import "../abstracts/vars";
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin red-button-hover {
  &:hover {
    cursor: pointer;
    background-color: #ba3b34;
  }
}

@mixin navigation {
  &:not(.nav-link--active):hover {
    display: flex;
    padding: 15px;
    border-radius: 20px;
    background: $main-text;
  }
}

